/* line 5, C:/Users/yahya/coding/rails-reading-list-manager-project/app/assets/stylesheets/shelves.scss */
legend {
  font-size: 1.7em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/* General Styles */


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	width: 100%;
	position: relative;
}

.center {
	margin: 0 auto;
	display: block;
}

header {
	background-color: #CDBBA7;
	height: 125px;
}

nav {
	float: right;
	margin: 1em 4.5em 0em 0em;
}

nav a, nav span {
	color: #9D0303;
	padding: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

footer {
	background-color: #4B2D11;
	color: #CDBBA7;
}

/* Homepage Styles */

#index-img {
	width: 100%;
}

.field_with_errors, #error_explanation {
	padding: 2px 1em;
	border-left: 1.6em solid #9D0303;
	background-color: linen;
}

#index h2 {
	color: #9D0303;
	text-shadow: 3px 3px 10px white;
	font-size: 2em;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 45%;
}

#index a {
	background: #9D0303;
	color: white;
	font-size: 2.2em;
	padding: 15px;
	border-radius: 15px;
	position: absolute;
	top: 32%;
	left: 46%;
}
