
<div id="index">
  <img class="center" id="index-img" src="http://i64.tinypic.com/b653ti.jpg" alt="">
  <h2>A Bookshelf is <br> A Repository of Different Worlds</h2>
  <%= link_to "Library", books_path %>
</div>



