
<div id="index">
  <img class="center" id="index-img" src="http://i63.tinypic.com/2nknkae.jpg" alt="">
  <%= link_to "Library", books_path %>
  <h2>A Bookshelf is a Repository of Different Worlds</h2>
</div>



