
<div>
  <img class="center" id="index-img" src="home_book_shelf.jpg" alt="">
  <h1>Reading List Manager</h1>
  <%= link_to "Library", books_path %>
</div>

<!--
http://i63.tinypic.com/w6xowh.jpg
-->

