/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General Styles */

* {
	margin: 0;
	padding: 0;
}

html {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height: 100%;
  	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #96BBC4;
}

button {
	background-color: #CDBBA7;
}

div {
	width: 100%;
	position: relative;
}

.center {
	margin: 0 auto;
	display: block;
}

header {
	background-color: #CDBBA7;
	height: 125px;
}

nav {
	float: right;
	margin: 1em 4.5em 0em 0em;
}

nav a, nav span {
	color: #9D0303;
	padding: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

footer section {
	padding: 2em;
	color: #CDBBA7;
}

footer h3 {
	padding-bottom: 10px;
	font-size: 1.3em;
	text-align: center;
}

footer h4 {
	padding-bottom: 15px;
}

footer p {
	font-size: 1em;
	margin-bottom: 10px;
	line-height: 1.3em;
	text-align: left;
}

#about-section {
	padding-left: 25%;
	padding-right: 25%;
	background-color: #A88862;
	color: white;
	word-wrap: break-word;
}

#about-section p {
	padding-bottom: 1.5em;
}

.button-link {
	background-color: #4B2D11;
	color: white;
	border-radius: 15px;
	padding: 7px 10px;
	font-size: 1.07em;
	text-align: center;
	width: 150px;
	display: block;
	margin: 0px auto 20px auto;
	text-decoration: none;
}

#project-section {
	height: 250px;
	background-color: #4B2D11;
}

#project-section a {
	text-decoration: underline;
	color: #CDBBA7;
}

.footer-column {
	float: left; 
	width: 23%; 
	padding: 30px 0px 60px 30px; 
	text-align: left;
}

.footer-column p, .footer-column ul {
	font-size: 0.9em;
}


/* Homepage Styles */

#index-img {
	width: 100%;
}

.field_with_errors, #error_explanation {
	padding: 2px 1em;
	border-left: 1.6em solid #9D0303;
	background-color: linen;
}

#index h2 {
	color: #9D0303;
	text-shadow: 3px 3px 10px white;
	font-size: 2em;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 45%;
}

#index a {
	background: #9D0303;
	color: white;
	font-size: 2.2em;
	padding: 15px;
	border-radius: 15px;
	position: absolute;
	top: 32%;
	left: 46%;
}

h2 {
	color: #CDBBA7;
	text-align: center;
	font-size: 2.5em;
}

.form-div {
	float: right;
	width: 300px;
	padding: 1.5em 100px 0px 0px;
	z-index: 200;
}


/* Books and Shelves Styles */

#library-div, #user-shelves-divs {
	margin: 100px 0px;
}

.books-div {
	display: flex;
	flex-flow: row wrap;
	margin: 0px auto;
	width: 100%;
}

.books-div div {
	text-align: center;
}

.book-cover-img {
	flex: 1 1 120px;
	margin: 25px;
	text-align: center;
	cursor: pointer;
}

.book-info-div {
	position: fixed;
	bottom: 0;
	z-index: 100;
	background-color: #F9F8F7;
	margin: 0px auto;
}

.book-info-div div {
	float: left;
	text-align: center;
	padding-top: 2em;
	height: 90px;
	position: relative;
}

.book-info-div h4 {
	color: #9D0303;
	font-size: 2em;
}

.down-arrow {
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	
	cursor: pointer;	
	position: absolute;
	top: 10px;
	right: 3%;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}


/* Library Styles */

.lib-book-info-col {
	width: 23%;
}


/* Shelves Styles */

.reading-status-div {
	float: left;
	width: 300px;
	margin: 1.5em 0px 0px 150px;
}

.shelf-div {
	margin: 40px 0px;
	padding-top: 40px; 
	position: relative;
}

.shelf-div h3 {
	text-align: center;
	font-size: 2em;
	color: #745448;
	position: absolute;
	top: 3%;
	left: 30%;
}

.shelf-update {
	font-size: 1.15em;
	position: absolute;
	top: 15%;
	left: 32%;
	z-index: 200;
	color: white;
}

.shelf-delete {
	font-size: 1.15em;
	position: absolute;
	top: 15%;
	left: 38%;
	z-index: 200;
	color: white;
}

#shelf-books-div {
	margin: 0px 400px;
	background-image: url(http://i65.tinypic.com/2i0ygyo.jpg);
	background-size: 783px;
}

#shelf-books-div .book-cover-img {
	position: relative;
	top: 20px;
}

#empty-shelf-img {
	width: 783px;
	height: 250px;
	margin: 0px 400px;
}

.shelf-book-info-col {
	width: 23%;
}

.shelf-book-info-col label {
	display: inline-block;
	text-align: left;
	width: 160px;
}

.shelf-book-info-col select, .shelf-book-info-col input {
	width: 130px;
}

.shelf-book-info-col input[type="submit"] {
   width: 70px;
   margin: 5px;
}